/*********************************************

Here is where I will control the look of the website

**********************************************/


/************
General
*************/

body {
  background-color: #68D4FF;
  z-index: 1;

}

button {
  position: absolute;
  font-size: 100px;
  width: 400px;
  height: 400px;
  border: 10px solid white;
  border-radius: 50%;
  background-color: #FF6554;
  z-index: 1;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
}

a:active {
  color: purple;
}


/************
Home Page
*************/

.Logo {

  position: absolute;
  left: 640px;
  top: 150px;
  width: 35%;
  border: 10px solid white;
  border-radius: 50%;
  background-color: #FF7BF3;
  z-index: -1;

}

.button1 {

  top: 50px;
  left: 50px;

}
.button1:hover {

  border: 10px solid #FF6554;
  background-color: white;
  color: #FF6554;

}

.button2 {

  bottom: 10px;
  left: 250px;

}

.button2:hover {

  border: 10px solid #FF6554;
  background-color: white;
  color: #FF6554;

}

.button3 {

  bottom: 10px;
  right: 250px;

}

.button3:hover {

  border: 10px solid #FF6554;
  background-color: white;
  color: #FF6554;

}

.button4 {

  top: 10px;
  right: 170px;

}
.button4:hover {

  border: 10px solid #FF6554;
  background-color: white;
  color: #FF6554;

}


/************
Pages
*************/

.top-bar {

  display: flex;
  background-color: #FF7BF3;
  border: 10px solid white;
  border-radius: 20px;

}

.top-bar > a {

  margin: 10px;
  padding: 20px;
  font-size: 30px;

}

.art-display {

  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: white;
  border: 5px solid black;
  border-radius: 20px;

}

.art-display > div {

  margin: 10px;
  padding: 20px;
  font-size: 30px;
  background-color: purple;
  border-radius: 5px;

}
