/*********************************************

Here is where I will control the look of the website

**********************************************/


/************
General
*************/

body {
  background-color: #68D4FF;
  z-index: 1;

}

.body3dart{
background-color: #FF6554;
}

.body2dart{
background-color: #7AEC96;
}

.bodyCV{
background-color: #B27AFF;
}

.bodyAM{
  background-color: #FF7BF3;
}


@font-face {
  font-family: HappyMarker;
  src: url("../assets/fonts/HappyMarker-xg98.ttf");
}

button {
  position: absolute;
  font-size: 100px;
  width: 400px;
  height: 400px;
  border: 10px solid white;
  border-radius: 50%;
  z-index: 1;
  font-family: HappyMarker;
}

h {
  position: block;
  margin: auto;
  margin-top: 50px;
  font-size: 100px;
}

h1 {
  margin-top: 50px;
  font-size: 70px;
  text-indent: 20px;
}

p {

  padding: 20px;
  margin-top: 50px;
  margin-right: 20px;
  font-size: 30px;
  text-indent: 20px;
  text-align: justify;
}

a {
    font-family: HappyMarker;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
}

a:active {
  color: purple;
}






/************
Home Page
*************/

.Logo {

  position: absolute;
  left: 640px;
  top: 150px;
  width: 35%;
  z-index: 1;

}

.button1 {

  top: 50px;
  left: 50px;
  background-color: #FF6554;

}
.button1:hover {

  border: 10px solid #FF6554;
  background-color: white;
  color: #FF6554;

}

.button2 {

  bottom: 10px;
  left: 250px;
  background-color: #7AEC96;

}

.button2:hover {

  border: 10px solid #7AEC96;
  background-color: white;
  color: #7AEC96;

}

.button3 {

  bottom: 10px;
  right: 230px;
  background-color: #B27AFF;

}

.button3:hover {

  border: 10px solid #B27AFF;
  background-color: white;
  color: #B27AFF;

}

.button4 {

  top: 10px;
  right: 170px;
  background-color: #FF7BF3;

}
.button4:hover {

  border: 10px solid #FF7BF3;
  background-color: white;
  color: #FF7BF3;

}


/************
Pages
*************/

.top-bar {

  display: flex;
  background-color: #68D4FF;
  border: 10px solid white;
  border-radius: 20px;

}

.top-bar > a {

  margin: 10px;
  padding: 20px;
  font-size: 30px;

}

.art-display {

  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: white;
  border: 5px solid black;
  border-radius: 20px;

}

.art-display > div {

  margin: 10px;
  padding: 20px;
  font-size: 30px;
  background-color: purple;
  border-radius: 5px;


}

.intro {

  margin: auto;
}

/************
Page: Stan Stopper
*************/

.art {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: white;
  border: 5px solid black;
  border-radius: 20px;

}

.art > .ssImages {

  margin: 10px;
  padding: 20px;
  font-size: 30px;
  flex-wrap: wrap;

}

/************
Bodyguard
*************/

.Bodyguard {
  margin-top: 50px;
  width: 30%;
  transform: scaleX(-1);

}


.Idle {
  margin-top: 50px;
  margin-left: 30px;
  width: 40%;

}

.RunO {
  margin-top: 50px;
  margin-left: 10px;
  width: 90%;

}

.RunR {
  margin-top: 50px;
  margin-left: 40px;
  width: 90%;

}

.singlePose {
  margin-top: 50px;
  margin-left: 30px;
  width: 15%;

}

.rejectedRun {
  margin-top: 50px;
  width: 100%;

}

.rejectedIdle {
  margin-top: 50px;
  margin-left: 30px;
  width: 40%;

}

/************
Fangirl
*************/

.Fangirl {
  margin-top: 40px;
  margin-left: 60px;
  width: 25%;
  transform: scaleX(-1);

}

.Run2 {
  margin-top: 50px;
  margin-left: 30px;
  width: 95%;

}

.Climb {
  margin-top: 50px;
  margin-left: 50px;
  width: 40%;

}

.Hit {
  margin-top: 50px;
  margin-left: 40px;
  width: 10%;

}

.Fall {
  margin-top: 50px;
  margin-left: 30px;
  width: 80%;

}

/************
Fangirl
*************/

.Idol {
  margin-left: 30px;
  width: 25%;
  transform: scaleX(-1);

}

.Dance {
  margin-top: 50px;
  margin-left: 20px;
  width: 100%;

}


.Hit2 {
  margin-top: 50px;
  margin-left: 30px;
  width: 50%;

}
